<!-- briefing_raoa_sgdc/templates/briefing_raoa_sgdc/index.html -->

{% extends 'shared/base.html' %}

{% block title %}Briefing Diário{% endblock %}

{% block content %}
<h1>Briefing Diário de Operações Espaciais</h1>
{% if not briefing %}
    <a href="{% url 'briefing_raoa_lessonia:new_briefing' %}" class="btn btn-primary">Cadastrar Briefing de Hoje</a>
{% endif %}
<a href="{% url 'briefing_raoa_lessonia:week_briefings_list' %}" class="btn btn-secondary">Acessar Briefings Semanais</a> <!-- Atualizado para week_briefings_list -->

<h2 class="mt-4">Briefings Cadastrados</h2>
<table id="briefingsTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Data</th>
            <th>Descrição da Operação</th>
            <th>Infra Crítica Brasília</th>
            <th>Infra Crítica Rio</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for briefing in briefings %}
        <tr>
            <td>{{ briefing.data|date:"d/m/Y" }}</td>
            <td>{{ briefing.descricao_operacao }}</td>
            <td>{{ briefing.infra_critica_brasilia }}</td>
            <td>{{ briefing.infra_critica_rio }}</td>
            <td>
                <a href="{% url 'briefing_raoa_lessonia:edit_briefing' briefing.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'briefing_raoa_lessonia:delete_briefing' briefing.pk %}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este briefing?');">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
